@charset "UTF-8";

body {
background-color: #1f1e33;
font-family: "微軟正黑體", sans-serif;
color:#fff;
margin-top:5%;
margin-bottom:5%;
margin-left: 5%;
margin-right: 5%;
padding-left: 3%;
padding-right: 3%;
}

h1 {
color: #ffffff;
text-align: center;
font-weight: bold;
font-style: italic; /* 斜體 */
font-size: 40px;
}

h2 {
color: #ffffff;
font-weight: bold;
font-size: 30px;
}

h3 {
color: #ffffff;
font-weight: bold;
font-size: 27px;
}

article {
padding-top: 1%;
padding-bottom: 1%;
}

section {
padding-top: 1%;
padding-bottom: 1%;
}

p {
font-size: 22px;
line-height: 1.6;
}

nav{
color: #eeb257;
text-decoration: none;
margin: 0 ;
font-size: 20px;
}

ul {
font-size: 20px;
line-height: 1.6;
}

button, input[type="button"] {
background-color: #eeb257;
color: #1f1e33;
font-size: 20px;
border: none;
padding: 10px 20px;
margin: 10px 20px;
cursor: pointer;
border-radius: 5px;
}

a {
color: #c4a93c;
font-size: 22px;
text-decoration: none;
}