@charset "UTF-8";

body {
background-color: #1f1e33;
font-family: "微軟正黑體", sans-serif;
color:#fff;
margin-top:5%;
margin-bottom:5%;
margin-left: 5%;
margin-right: 5%;
padding-left: 3%;
padding-right: 3%;
}

h1 {
color: #ffffff;
text-align: center;
font-weight: bold;
font-style: italic; /* 斜體 */
font-size: 40px;
}

h2 {
color: #ffffff;
font-weight: bold;
font-size: 30px;
}

h3 {
color: #ffffff;
font-weight: bold;
font-size: 27px;
}

article {
padding-top: 1%;
padding-bottom: 1%;
}

section {
padding-top: 1%;
padding-bottom: 1%;
}

p {
font-size: 22px;
line-height: 1.6;
}

nav{
color: #eeb257;
text-decoration: none;
margin: 0 ;
font-size: 20px;
}

ul {
font-size: 20px;
line-height: 1.6;
}

button, input[type="button"] {
background-color: #eeb257;
color: #1f1e33;
font-size: 20px;
border: none;
padding: 10px 20px;
margin: 10px 20px;
cursor: pointer;
border-radius: 5px;
}

a {
color: #c4a93c;
font-size: 22px;
text-decoration: none;
}

.timeline {
  position: relative;
  max-width: 800px;
  margin: 25px ;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 30px; /* 調整到圓點的中心 */
  top: 0;
  width: 2px; /* 與圓點的邊框寬度一致 */
  height: 100%;
  border-radius: 2px;
  background-color: #4a90e2; /* 添加背景色 */
}

/*每一格遊戲紀錄的容器 */
.checkpoint {
  position: relative;
  margin-bottom: 40px;
  padding-left: 60px; /* 增加左側空間，確保內容不擠壓 */
}

/* 畫出節點圓點 */
.checkpoint::after {
  content: '';
  position: absolute;
  left: 0px; 
  top: 5px;
  width: 20px;
  height: 20px;
  background: #000000;
  border: 2px solid #a0d54b; 
  border-radius: 50%;
  z-index: 1;
}

.date {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #bdc3c7;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 10px; 
}

hr {
  border: none;
  height: 2px;
  background-color: #a0d54b; /* 設定顏色 */
  margin: 20px 0;
}